# Exercício 1
#### Criação

* Criar uma base de dados que se chame "__empresa.db__" por meio do módulo sqlite3 em Python.
* Dentro dessa base de dados, crie uma tabela chamada "__Funcionarios__" com as estrutura a seguir:
    * id: INTEGER, chave primária (PRIMARY KEY).
    * nome: TEXT, nome do funcionário.
    * cargo: TEXT, cargo do funcionário.
    * salario: REAL, salário do funcionário.
* Insira pelo menos __10__ registos diferentes na tabela "__Funcionarios__".
* Atualize o salário de todos os 3 primeiros funcionários para um valor de 10%.
* Remova o registo do funcionário com o id = 4.
* Por fim, selecione e exiba todos os funcionários restantes na tabela, ordenados pelo salário descrecente.

In [2]:
import sqlite3

# Connect to database
local_para_salvar = './db/empresa2.db'
conn = sqlite3.connect(local_para_salvar)

# Create a cursor
cursor = conn.cursor()

# Create a table
cursor.execute(""" 
CREATE TABLE IF NOT EXISTS funcionarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    cargo TEXT NOT NULL,
    salario REAL NOT NULL
);
""")
# Commit our command
conn.commit()

# Close our connection
cursor.close()
conn.close()

### Criando os funcionarios

    # Criando uma função para aredondar em duas casas após a virgula

In [8]:
import sqlite3

# Connect to database
local_para_salvar = './db/empresa2.db'
conn = sqlite3.connect(local_para_salvar)

# Create a cursor
cursor = conn.cursor()

funcionarios = [
    ("João", "Gerente", 5000.00),
    ("Maria", "Analista", 4000.00),
    ("Pedro", "Desenvolvedor", 4500.00),
    ("Ana", "Designer", 3500.00),
    ("Carlos", "Vendedor", 3000.00),
    ("Paula", "Secretária", 2500.00),
    ("Lucas", "Estagiário", 1500.00),
    ("Fernanda", "Diretora", 7000.00),
    ("Ricardo", "Contador", 3800.00),
    ("Juliana", "Recepcionista", 2200.00)
]

# Funçao para aredondar o salario em duas casas decimais
def arredondar(salario):
    return round(salario, 2)

# Funçao para inserir um funcionario
def inserir_funcionario(nome, cargo, salario):
    cursor.execute("""
    INSERT INTO funcionarios (nome, cargo, salario) VALUES (?, ?, ?)
    """, (nome, cargo, arredondar(salario)))
    conn.commit()
    print('Funcionário inserido com sucesso.')

# Funçao para listar todos os funcionarios
def listar_funcionarios():
    try:

        cursor.execute("""
        SELECT * FROM funcionarios;
        """)
    except Exception as e:
        print(f'Erro: {e}')
    except sqlite3.Error as e:
        print(f'Erro ao listar funcionários: {e}')
    for funcionario in cursor.fetchall():
        print(funcionario)

In [ ]:
for funcionario in funcionarios:
    inserir_funcionario(funcionario[0], funcionario[1], funcionario[2])

### Aumento de salario para os 3 primeiros funcionarios
    # Aumento de 10%

In [13]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
local_para_salvar = './db/empresa2.db'
conn = sqlite3.connect(local_para_salvar)

# Criando um cursor
cursor = conn.cursor()

try:
    # Selecionando os IDs dos três primeiros funcionários
    cursor.execute('''
    SELECT id
    FROM funcionarios
    ORDER BY id
    LIMIT 3
    ''')
    ids_funcionarios = cursor.fetchall()

    if not ids_funcionarios:
        raise ValueError('ID não encontrado.')
    
    # Atualizando o salário dos três primeiros funcionários com um aumento de 10%
    for id_funcionario in ids_funcionarios:
        cursor.execute('''
        UPDATE funcionarios 
        SET salario = salario * 1.1
        WHERE id = ?
        ''', (id_funcionario[0],))
    
    # Confirmando as alterações na tabela
    conn.commit()
    print('Salários atualizados com sucesso.')

except ValueError as e:
    print(f'Erro: {e}')

except sqlite3.Error as e:
    print(f'Erro ao buscar ids: {e}')

finally:
    # Fechar o cursor e a conexão
    cursor.close()
    conn.close()

Salários atualizados com sucesso.

* Remova o registo do funcionário com o id = 4.

In [17]:
import sqlite3

def deletar_funcionario(id_funcionario):
    # Conectando ao banco de dados
    conexao = sqlite3.connect('./db/empresa2.db')
    cursor = conexao.cursor()

    try:
        # Buscando o funcionário pelo ID

        cursor.execute('''
        SELECT id, nome, cargo, salario
        FROM funcionarios
        WHERE id = ?
        ''', (id_funcionario,))

        funcionario = cursor.fetchone()

        if funcionario is None:
            raise ValueError(f'Funcionário não encontrado. {id_funcionario}')
        
        ## Exibindo o funcionário encontrado
        print(f"ID: {funcionario[0]}")
        print(f"Nome: {funcionario[1]}")
        print(f"Cargo: {funcionario[2]}")
        print(f"Salário: {funcionario[3]}")


        # Deletando o funcionário
        cursor.execute('''DELETE FROM funcionarios
                        WHERE id = ?''',
                          (id_funcionario,))
        conexao.commit()
        print('Funcionário deletado com sucesso.')

    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionário: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conexao.close()


## Coloque o id do funcionário que deseja deletar
deletar_funcionario(4)

ID: 4
Nome: Pedro
Cargo: Desenvolvedor
Salário: 4500.0
Funcionário deletado com sucesso.

* Por fim, selecione e exiba todos os funcionários restantes na tabela, ordenados pelo salário.

In [22]:
# função para mostrar todos os funcionarios por order de salarios 

def listar_funcionarios_por_salario():
    # Conectando ao banco de dados
    conn = sqlite3.connect(local_para_salvar)
    cursor = conn.cursor()
    try:
        cursor.execute('''
        SELECT * FROM funcionarios
        ORDER BY salario DESC
        ''')
        for funcionario in cursor.fetchall():
            print(funcionario)

    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionários: {e}')
    except Exception as e:
        print(f'Erro: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

listar_funcionarios_por_salario()

(9, 'Fernanda', 'Diretora', 7000.0)
(1, 'João', 'Analista de Dados', 5500.0)
(2, 'João', 'Gerente', 5500.0)
(3, 'Maria', 'Analista', 4400.0)
(10, 'Ricardo', 'Contador', 3800.0)
(5, 'Ana', 'Designer', 3500.0)
(6, 'Carlos', 'Vendedor', 3000.0)
(7, 'Paula', 'Secretária', 2500.0)
(11, 'Juliana', 'Recepcionista', 2200.0)
(8, 'Lucas', 'Estagiário', 1500.0)