#### Exercícios Módulo 5. Unidade 4. BAse de dados

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: __M5_04_nome_apelido1_apelido2__
* Utilizar o Software: Anaconda – Jupyter.
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

# Exercício 1

#### Criação

* Criar uma base de dados que se chame "__empresa.db__" por meio do módulo sqlite3 em Python.
* Dentro dessa base de dados, crie uma tabela chamada "__Funcionarios__" com as estrutura a seguir:
    * id: INTEGER, chave primária (PRIMARY KEY).
    * nome: TEXT, nome do funcionário.
    * cargo: TEXT, cargo do funcionário.
    * salario: REAL, salário do funcionário.
* Insira pelo menos __10__ registos diferentes na tabela "__Funcionarios__".
* Atualize o salário de todos os 3 primeiros funcionários para um valor de 10%.
* Remova o registo do funcionário com o id = 4.
* Por fim, selecione e exiba todos os funcionários restantes na tabela, ordenados pelo salário.acteres).

In [19]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

In [15]:
## Criando a tabela funcionarios 
cursor.execute('''
CREATE TABLE IF NOT EXISTS funcionarios (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               nome TEXT NOT NULL,
               cargo TEXT NOT NULL,
               salario REAL NOT NULL
               )
''')

In [16]:
### vamos criar os funcionarios com diferentes cargos e salarios
funcionarios = [
    ("João", "Gerente", 5000.00),
    ("Maria", "Analista", 4000.00),
    ("Pedro", "Desenvolvedor", 4500.00),
    ("Ana", "Designer", 3500.00),
    ("Carlos", "Vendedor", 3000.00),
    ("Paula", "Secretária", 2500.00),
    ("Lucas", "Estagiário", 1500.00),
    ("Fernanda", "Diretora", 7000.00),
    ("Ricardo", "Contador", 3800.00),
    ("Juliana", "Recepcionista", 2200.00)
]

In [17]:
## agora vamos salvar os funcionarios na tabela
cursor.executemany('''
INSERT INTO funcionarios (nome, cargo, salario)
VALUES (?,?,?)
''', funcionarios)

In [18]:
## agora confirmamos com o commit 

conexao.commit()
### Fechando tudo !
cursor.close()
conexao.close()

In [20]:

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

In [22]:
# adicioando apenas um funcionario novo

## Vou colocar com um valor e depois fazer uma alteração
novo_funcionario = [
    "Claudio", "Desenvolvedor Python", 50000
]

#### para um apenas,
cursor.execute(''' 
INSERT INTO funcionarios (nome, cargo, salario)
VALUES (?,?,?)
''', novo_funcionario)

# Confirmando as alterações na tabela
conexao.commit()

# Fechando a conexão
cursor.close()
conexao.close()

In [24]:
#### Funcão de Atualizar um funcionario

import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

## Pegando o funcionario para fazer a alteração
ajuste_salarial = 5500
nome_funcioanario = "Claudio"

cursor.execute('''
UPDATE funcionarios
SET salario = ?
WHERE nome = ?
''', (ajuste_salarial, nome_funcioanario))

# Confirmando as alterações na tabela
conexao.commit()

# Fechando a conexão
cursor.close()
conexao.close()

print(f"Salário do funcionário {nome_funcioanario} atualizado para {ajuste_salarial}")

Salário do funcionário Claudio atualizado para 5500

In [27]:
### Dando aumento a todos de 3%

import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

# Atualizando o salário de todos os funcionários com um aumento de 3%
cursor.execute('''
UPDATE funcionarios
SET salario = salario * 1.03
''')


# Confirmando as alterações na tabela
conexao.commit()

# Fechando a conexão
cursor.close()
conexao.close()

print("Salário de todos os funcionários atualizado com um aumento de 3%")

Salário de todos os funcionários atualizado com um aumento de 3%

In [37]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('example.db')
cursor = conexao.cursor()

# ID do funcionário que você deseja buscar
id_funcionario = 17  # Substitua pelo ID correto do funcionário

try:
    # Buscando o funcionário específico pelo ID
    cursor.execute('''
    SELECT id, nome, cargo, salario
    FROM funcionarios
    WHERE id = ?
    ''', (id_funcionario,))
    
    funcionario = cursor.fetchone()
    
    if funcionario is None:
        raise ValueError(f"Funcionário com id {id_funcionario} não encontrado.")
    
    # Exibindo as informações do funcionário
    print(f"ID: {funcionario[0]}")
    print(f"Nome: {funcionario[1]}")
    print(f"Cargo: {funcionario[2]}")
    print(f"Salário: {funcionario[3]}")

except ValueError as ve:
    print(ve)
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    # Fechando a conexão
    cursor.close()
    conexao.close()

Funcionário com id 17 não encontrado.

# Exercício 2

#### Criação

* Sobre a base de dados "__empresa.db__" e a tabela "__Funcionarios__", criadas anteriormente, resolva o desafio a seguir:


* A empresa deseja melhorar a sua estrutura salarial, e para isso precisa de um relatório que forneça insights sobre a distribuição de salários e cargos dentro da organização. Portanto, deve resolver:
    * Descobrir possíveis disparidades salariais entre os funcionários de diferentes cargos.
    * Identificar os cargos com os maiores e menores salários médios.
    * Determinar quantos funcionários existem por cargo e entender a distribuição salarial em cada cargo.
    * Fornecer um relatório geral que possa ajudar a diretoria a ajustar os salários para garantir mais equidade e competitividade no mercado.

In [ ]:
# Fazer o exercício aqui

# Exercício 3

#### Criação

* Utilizando a base de dados "__empresa.db__", crie uma nova tabela chamada "__Projetos__" para armazenar os projetos que os funcionários estão alocados:
    * id_projeto: INTEGER, chave primária (PRIMARY KEY).
    * nome_projeto: TEXT, nome do projeto.
    * funcionario_id: INTEGER, chave estrangeira (FOREIGN KEY) que referencia o id da tabela "__Funcionarios__".
* Insira 5 registos na tabela "__Projetos__" relacionando funcionários a projetos.
* Faça uma consulta SQL que mostre os nomes dos funcionários e os nomes dos projetos em que eles estão alocados, usando uma junção (JOIN).

In [ ]:
# Fazer o exercício aqui