#### Exercícios Módulo 5. Unidade 4. BAse de dados

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: __M5_04_nome_apelido1_apelido2__
* Utilizar o Software: Anaconda – Jupyter.
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

# Exercício 1

#### Criação

* Criar uma base de dados que se chame "__empresa.db__" por meio do módulo sqlite3 em Python.
* Dentro dessa base de dados, crie uma tabela chamada "__Funcionarios__" com as estrutura a seguir:
    * id: INTEGER, chave primária (PRIMARY KEY).
    * nome: TEXT, nome do funcionário.
    * cargo: TEXT, cargo do funcionário.
    * salario: REAL, salário do funcionário.
* Insira pelo menos __10__ registos diferentes na tabela "__Funcionarios__".
* Atualize o salário de todos os 3 primeiros funcionários para um valor de 10%.
* Remova o registo do funcionário com o id = 4.
* Por fim, selecione e exiba todos os funcionários restantes na tabela, ordenados pelo salário.acteres).

In [24]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()
## Criando a tabela funcionarios 
cursor.execute('''
CREATE TABLE IF NOT EXISTS funcionarios (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               nome TEXT NOT NULL UNIQUE,
               cargo TEXT NOT NULL,
               salario REAL NOT NULL
               )
''')

In [25]:
# criamos uma função para arrendodar 
def arredondar_salario(salario):
    return round(salario, 2)
### vamos criar os funcionarios com diferentes cargos e salarios
funcionarios = [
    ("João", "Gerente", arredondar_salario(5000.00)),
    ("Maria", "Analista", arredondar_salario(4000.00)),
    ("Pedro", "Desenvolvedor", arredondar_salario(4500.00)),
    ("Ana", "Designer", arredondar_salario(3500.00)),
    ("Carlos", "Vendedor", arredondar_salario(3000.00)),
    ("Paula", "Secretária", arredondar_salario(2500.00)),
    ("Lucas", "Estagiário", arredondar_salario(1500.00)),
    ("Fernanda", "Diretora", arredondar_salario(7000.00)),
    ("Ricardo", "Contador", arredondar_salario(3800.00)),
    ("Juliana", "Recepcionista", arredondar_salario(2200.00))
]

In [26]:
## agora vamos salvar os funcionarios na tabela
try:
    cursor.executemany('''
    INSERT INTO funcionarios (nome, cargo, salario)
    VALUES (?,?,?)
    ''', funcionarios)
except sqlite3.IntegrityError as e:
    print(f"Erro ao inserir dados: {e}")

Erro ao inserir dados: UNIQUE constraint failed: funcionarios.nome

In [27]:
## agora confirmamos com o commit 

conexao.commit()
### Fechando tudo !
cursor.close()
conexao.close()

In [28]:
import sqlite3


# criamos uma função para arrendodar 
def arredondar_salario(salario):
    return round(salario, 2)
# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()
# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()
# adicioando apenas um funcionario novo

## Vou colocar com um valor e depois fazer uma alteração
novo_funcionario = [
    "Francisco", "Desenvolvedor Python", arredondar_salario(55555.00)
]

#### para um apenas,
cursor.execute(''' 
INSERT INTO funcionarios (nome, cargo, salario)
VALUES (?,?,?)
''', novo_funcionario)

# Confirmando as alterações na tabela
conexao.commit()

# Fechando a conexão
cursor.close()
conexao.close()

IntegrityError: UNIQUE constraint failed: funcionarios.nome

In [ ]:
#### Funcão de Atualizar um funcionario

import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

## Pegando o funcionario para fazer a alteração
ajuste_salarial = 5500
nome_funcioanario = "Claudio"

cursor.execute('''
UPDATE funcionarios
SET salario = ?
WHERE nome = ?
''', (ajuste_salarial, nome_funcioanario))

# Confirmando as alterações na tabela
conexao.commit()

# Fechando a conexão
cursor.close()
conexao.close()

print(f"Salário do funcionário {nome_funcioanario} atualizado para {ajuste_salarial}")

In [ ]:
### Dando aumento a todos de 3%

import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

# Atualizando o salário de todos os funcionários com um aumento de 3%
cursor.execute('''
UPDATE funcionarios
SET salario = salario * 1.03
''')


# Confirmando as alterações na tabela
conexao.commit()

# Fechando a conexão
cursor.close()
conexao.close()

print("Salário de todos os funcionários atualizado com um aumento de 3%")

In [ ]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

try:
    # Selecionando os IDs dos três primeiros funcionários
    cursor.execute('''
    SELECT id
    FROM funcionarios
    ORDER BY id
    LIMIT 3
    ''')
    ids_funcionarios = cursor.fetchall()

    if not ids_funcionarios:
        raise ValueError("Nenhum funcionario encontrado")
    
    for id_funcionario in ids_funcionarios:
        cursor.execute('''
        UPDATE funcionarios
                       SET salario = salario * 1.1
                       WHERE id = ?
                       ''', (id_funcionario[0], ))
        
    # salvando as modificações
    conexao.commit()
    print("Salário dos três primeiros funcionários atualizado com um aumento de 10%")

except ValueError as ve:
    print(ve)
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    # Fechando a conexão
    cursor.close()
    conexao.close()

In [ ]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
#conexao = sqlite3.connect('example.db')
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

# ID do funcionário que você deseja buscar
id_funcionario = 9  # Substitua pelo ID correto do funcionário

try:
    # Buscando o funcionário específico pelo ID
    cursor.execute('''
    SELECT id, nome, cargo, salario
    FROM funcionarios
    WHERE id = ?
    ''', (id_funcionario,))
    
    funcionario = cursor.fetchone()
    
    if funcionario is None:
        raise ValueError(f"Funcionário com id {id_funcionario} não encontrado.")
    
    # Exibindo as informações do funcionário
    print(f"ID: {funcionario[0]}")
    print(f"Nome: {funcionario[1]}")
    print(f"Cargo: {funcionario[2]}")
    print(f"Salário: {funcionario[3]}")

except ValueError as ve:
    print(ve)
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    # Fechando a conexão
    cursor.close()
    conexao.close()

In [ ]:
## como fazer para deletar um funcionario

# primeiro vamos vazer uma busca para ver se o funcionario existe 
# depois deletamos
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

# ID do funcionário que você deseja buscar
id_funcionario = 4  # Substitua pelo ID correto do funcionário

try:
    # Buscando o funcionário específico pelo ID
    cursor.execute('''
    SELECT id, nome, cargo, salario
    FROM funcionarios
    WHERE id = ?
    ''', (id_funcionario,))
    
    funcionario = cursor.fetchone()
    
    if funcionario is None:
        raise ValueError(f"Funcionário com id {id_funcionario} não encontrado.")
    
    # Exibindo as informações do funcionário
    print(f"ID: {funcionario[0]}")
    print(f"Nome: {funcionario[1]}")
    print(f"Cargo: {funcionario[2]}")
    print(f"Salário: {funcionario[3]}")

    # Deletando o funcionário
    cursor.execute('''
    DELETE FROM funcionarios
    WHERE id = ?
    ''', (id_funcionario,))
    
    # Salvando a remoção
    conexao.commit()
    print(f"Funcionário {funcionario[1]} removido com sucesso.")
    

except ValueError as ve:
    print(ve)
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    # Fechando a conexão
    cursor.close()
    conexao.close()

In [ ]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

try:
    cursor.execute('''
    SELECT id, nome, cargo, salario
    FROM funcionarios
    ORDER BY salario DESC
    ''')
    funcionarios = cursor.fetchall()

    if not funcionarios:
        raise ValueError("Nenhum funcionário encontrado.")
    
    for funcionario in funcionarios:
        print(f"ID: {funcionario[0]}")
        print(f"Nome: {funcionario[1]}")
        print(f"Cargo: {funcionario[2]}")
        print(f"Salário: {funcionario[3]}")
        print()
except ValueError as ve:
    print(ve)
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    cursor.close()
    conexao.close()

In [ ]:
## Função para atualizar o salário de um funcionário
import sqlite3
# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

def atualizar_salario(id_funcionario, novo_salario):
    try:
        # Atualizando o salário do funcionário
        cursor.execute('''
        UPDATE funcionarios
        SET salario = ?
        WHERE id = ?
        ''', (novo_salario, id_funcionario))
        conexao.commit()
        print('Salário atualizado com sucesso.')
    except sqlite3.Error as e:
        print(f'Erro ao atualizar salário: {e}')
    finally:
        cursor.close()
        conexao.close()

# ID do funcionário e novo salário
id_funcionario = 10
novo_salario = 2500.0

# Chamando a função para atualizar o salário
atualizar_salario(id_funcionario, novo_salario)

In [ ]:
# Vamos buscar um funcionario pelo ID

def id_funcionario(id_funcionario):

    try:
        local_para_salvar = './db/empresa.db'   
        conn = sqlite3.connect(local_para_salvar)
        cursor = conn.cursor()

        cursor.execute('''
        SELECT id, nome, cargo, salario
        FROM funcionarios
        WHERE id = ?
        ''', (id_funcionario,))
        funcionario = cursor.fetchone()
        if funcionario is None:
            raise ValueError(f'Funcionário com id {id_funcionario} não encontrado.')
        print(f'ID: {funcionario[0]}')
        print(f'Nome: {funcionario[1]}')
        print(f'Cargo: {funcionario[2]}')
        print(f'Salário: {funcionario[3]}')
    except ValueError as ve:
        print(ve)
    except sqlite3.Error as e:
        print(f'Erro ao acessar o banco de dados: {e}')
    finally:
        cursor.close()
        conexao.close()

# ID do funcionário que você deseja buscar
id_funcionario(7)  # Substitua pelo ID correto do funcionário

In [ ]:
import sqlite3

conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

try:
    cursor.execute(''' 
    SELECT cargo, COUNT(*) AS quantidade_funcionarios, AVG(salario) AS media_salario
    FROM funcionarios
    GROUP BY cargo
    ORDER BY quantidade_funcionarios DESC
    ''')
    distribuicao_salarios = cursor.fetchall()
    print("Distribuição de salários por cargo:")

    for distribuicao in distribuicao_salarios:
        print(f"Cargo: {distribuicao[0]}")
        print(f"Quantidade de funcionários: {distribuicao[1]}")
        print(f"Média salarial: {distribuicao[2]}")
        print()
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    cursor.close()
    conexao.close()

In [ ]:
## Função para atualizar o salário de um funcionário
import sqlite3
# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

def atualizar_salario(id_funcionario, novo_salario):
    try:
        # Atualizando o salário do funcionário
        cursor.execute('''
        UPDATE funcionarios
        SET salario = ?
        WHERE id = ?
        ''', (novo_salario, id_funcionario))
        conexao.commit()
        print('Salário atualizado com sucesso.')
    except sqlite3.Error as e:
        print(f'Erro ao atualizar salário: {e}')
    finally:
        cursor.close()
        conexao.close()

# ID do funcionário e novo salário
id_funcionario = 1
novo_salario = 5565.0

# Chamando a função para atualizar o salário
atualizar_salario(id_funcionario, novo_salario)

In [ ]:
""" import os

# Caminho para o arquivo do banco de dados
caminho_banco_dados = './db/empresa.db'


# Fechar a conexão com o banco de dados se estiver aberta
try:
    if conexao:
        conexao.close()
except NameError:
    pass

# Verificar se o arquivo do banco de dados existe
if os.path.exists(caminho_banco_dados):
    # Remover o arquivo do banco de dados
    os.remove(caminho_banco_dados)
    print(f"Base de dados '{caminho_banco_dados}' removida com sucesso.")
else:
    print(f"Base de dados '{caminho_banco_dados}' não encontrada.") """

In [36]:
import sqlite3
import random

# Conectando ao banco de dados (ou criando um novo)
conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

# Lista de cargos especificados
cargos = [
    "Gerente", "Analista", "Desenvolvedor", "Vendedor", "Secretária",
    "Estagiario", "Diretora", "Contador", "Recepcionista", "Desenvolvedores de Software"
]

# Função para gerar um nome aleatório
def gerar_nome():
    primeiros_nomes = ["João", "Maria", "Pedro", "Ana", "Carlos", "Paula", "Fernanda", "Ricardo", "Juliana", "Lucas"]
    sobrenomes = ["Silva", "Santos", "Oliveira", "Souza", "Lima", "Pereira", "Ferreira", "Costa", "Rodrigues", "Almeida"]
    return f"{random.choice(primeiros_nomes)} {random.choice(sobrenomes)}"

# Função para gerar um salário aleatório baseado no cargo
def gerar_salario(cargo):
    if cargo == "Gerente":
        return round(random.uniform(5000, 7000), 2)
    elif cargo == "Analista":
        return round(random.uniform(4000, 5000), 2)
    elif cargo == "Desenvolvedor" or cargo == "Desenvolvedores de Software":
        return round(random.uniform(4500, 6000), 2)
    elif cargo == "Vendedor":
        return round(random.uniform(3000, 4000), 2)
    elif cargo == "Secretária":
        return round(random.uniform(2500, 3500), 2)
    elif cargo == "Estagiario":
        return round(random.uniform(1000, 2000), 2)
    elif cargo == "Diretora":
        return round(random.uniform(7000, 9000), 2)
    elif cargo == "Contador":
        return round(random.uniform(3500, 4500), 2)
    elif cargo == "Recepcionista":
        return round(random.uniform(2000, 3000), 2)
    else:
        return round(random.uniform(3000, 5000), 2)  # Valor padrão para cargos não especificados

# Gerando 150 funcionários com nomes únicos
novos_funcionarios = []
nomes_gerados = set()

while len(novos_funcionarios) < 5:
    nome = gerar_nome()
    if nome not in nomes_gerados:
        nomes_gerados.add(nome)
        cargo = random.choice(cargos)
        salario = gerar_salario(cargo)
        novos_funcionarios.append((nome, cargo, salario))

# Inserindo os novos funcionários na tabela funcionarios
try:
    cursor.executemany('''
    INSERT INTO funcionarios (nome, cargo, salario)
    VALUES (?, ?, ?)
    ''', novos_funcionarios)
    conexao.commit()
    print("20 novos funcionários inseridos com sucesso!")
except sqlite3.IntegrityError as e:
    print(f"Erro ao inserir dados: {e}")
finally:
    # Fechando a conexão
    cursor.close()
    conexao.close()

Erro ao inserir dados: UNIQUE constraint failed: funcionarios.nome

In [38]:
import sqlite3

def pegar_funcionarios_por_cargo(cargo_especifico):
    # Conectando ao banco de dados (ou criando um novo)
    conexao = sqlite3.connect('./db/empresa.db')
    cursor = conexao.cursor()

    try:
        # Buscando todos os funcionários do cargo especificado
        cursor.execute('''
        SELECT id, nome, cargo, salario
        FROM funcionarios
        WHERE cargo = ?
        ''', (cargo_especifico,))
        
        funcionarios = cursor.fetchall()
        
        if not funcionarios:
            raise ValueError(f"Nenhum funcionário encontrado para o cargo: {cargo_especifico}")
        
        # Exibindo os funcionários
        print(f"Funcionários com o cargo '{cargo_especifico}':")
        for funcionario in funcionarios:
            print(f"ID: {funcionario[0]}, Nome: {funcionario[1]}, Cargo: {funcionario[2]}, Salário: {funcionario[3]}")
    
    except ValueError as ve:
        print(ve)
    except sqlite3.Error as e:
        print(f"Erro ao acessar o banco de dados: {e}")
    finally:
        # Fechando a conexão
        cursor.close()
        conexao.close()

# Exemplo de uso da função
pegar_funcionarios_por_cargo("Desenvolvedor Python")  # Substitua pelo cargo desejado

Funcionários com o cargo 'Desenvolvedor Python':
ID: 11, Nome: Claudio, Cargo: Desenvolvedor Python, Salário: 5665.0
ID: 12, Nome: Francisco, Cargo: Desenvolvedor Python, Salário: 5500.0

# Exercício 2

#### Criação

* Sobre a base de dados "__empresa.db__" e a tabela "__Funcionarios__", criadas anteriormente, resolva o desafio a seguir:


* A empresa deseja melhorar a sua estrutura salarial, e para isso precisa de um relatório que forneça insights sobre a distribuição de salários e cargos dentro da organização. Portanto, deve resolver:
    * Descobrir possíveis disparidades salariais entre os funcionários de diferentes cargos.
    * Identificar os cargos com os maiores e menores salários médios.
    * Determinar quantos funcionários existem por cargo e entender a distribuição salarial em cada cargo.
    * Fornecer um relatório geral que possa ajudar a diretoria a ajustar os salários para garantir mais equidade e competitividade no mercado.

In [30]:
# Fazer o exercício aqui
import sqlite3

conexao = sqlite3.connect('./db/empresa.db')
cursor = conexao.cursor()

try:
    cursor.execute(''' 
    SELECT cargo, COUNT(*) AS quantidade_funcionarios, AVG(salario) AS media_salario
    FROM funcionarios
    GROUP BY cargo
    ORDER BY quantidade_funcionarios DESC
    ''')
    funcionario_por_setores = cursor.fetchall()
    print(f"Funcionarios Separados por Setores:")
    for funcionario in funcionario_por_setores:
        print(f"Cargo: {funcionario[0]}")
        print(f"Quantidade de Funcionarios: {funcionario[1]}")
        print(f"AVG salarial: {funcionario[2]:.2f}")
        print()
except sqlite3.Error as e:
    print(f"Erro ao acessar o banco de dados: {e}")
finally:
    cursor.close()
    conexao.close()

Funcionarios Separados por Setores:
Cargo: Gerente
Quantidade de Funcionarios: 4
AVG salarial: 6130.17

Cargo: Diretora
Quantidade de Funcionarios: 4
AVG salarial: 7568.81

Cargo: Vendedor
Quantidade de Funcionarios: 3
AVG salarial: 3282.68

Cargo: Secretária
Quantidade de Funcionarios: 3
AVG salarial: 2724.35

Cargo: Desenvolvedores de Software
Quantidade de Funcionarios: 3
AVG salarial: 5228.99

Cargo: Contador
Quantidade de Funcionarios: 3
AVG salarial: 3784.04

Cargo: Recepcionista
Quantidade de Funcionarios: 2
AVG salarial: 2253.97

Cargo: Estagiario
Quantidade de Funcionarios: 2
AVG salarial: 1524.14

Cargo: Desenvolvedor Python
Quantidade de Funcionarios: 2
AVG salarial: 5582.50

Cargo: Desenvolvedor
Quantidade de Funcionarios: 2
AVG salarial: 5365.76

Cargo: Analista
Quantidade de Funcionarios: 2
AVG salarial: 4365.06

Cargo: Estagiário
Quantidade de Funcionarios: 1
AVG salarial: 1545.00

# Exercício 3

#### Criação

* Utilizando a base de dados "__empresa.db__", crie uma nova tabela chamada "__Projetos__" para armazenar os projetos que os funcionários estão alocados:
    * id_projeto: INTEGER, chave primária (PRIMARY KEY).
    * nome_projeto: TEXT, nome do projeto.
    * funcionario_id: INTEGER, chave estrangeira (FOREIGN KEY) que referencia o id da tabela "__Funcionarios__".
* Insira 5 registos na tabela "__Projetos__" relacionando funcionários a projetos.
* Faça uma consulta SQL que mostre os nomes dos funcionários e os nomes dos projetos em que eles estão alocados, usando uma junção (JOIN).

In [34]:
# Fazer o exercício aqui