In [2]:
import json

In [3]:
x = '{"name": "John", "age":"30", "city": "New York"}'

In [4]:
y = json.loads(x)

In [5]:
print(y)

{'name': 'John', 'age': '30', 'city': 'New York'}

In [6]:
print(y['age'])

30

In [7]:
## converter algo em python em json
z = {"name": "John", "age":"30", "city": "New York"}

In [8]:
## transformando num json
y = json.dumps(z)

In [9]:
print(y)

{"name": "John", "age": "30", "city": "New York"}

In [10]:
print(json.dumps({"name":"John", "age":30}))

{"name": "John", "age": 30}

In [11]:
# conversao de lista
print(json.dumps(["apple", "bananas"]))

["apple", "bananas"]

In [12]:
print(json.dumps(("apple", "bananas")))

["apple", "bananas"]

In [13]:
print(json.dumps("Hello World"))
print(json.dumps(20))
print(json.dumps(211.21))
print(json.dumps(True))
print(json.dumps(None))

"Hello World"
20
211.21
true
null

In [14]:
zx = {
    "name":"John",
    "age": 30,
    "city":"Brasil",
    "married": True,
    "children": ["Ana", "Joaquina"],
    "pet": None,
    "car": {"model": "BMW", "version": 2.0}
}

In [15]:
print(json.dumps(zx))

{"name": "John", "age": 30, "city": "Brasil", "married": true, "children": ["Ana", "Joaquina"], "pet": null, "car": {"model": "BMW", "version": 2.0}}

In [16]:
json.dumps(zx, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "car": {\n        "model": "BMW",\n        "version": 2.0\n    },\n    "children": [\n        "Ana",\n        "Joaquina"\n    ],\n    "city": "Brasil",\n    "married": true,\n    "name": "John",\n    "pet": null\n}'

In [17]:
# abrindo um arquivo pronto,em json


file = open("pessoas.json", encoding='latin1')

In [18]:

data = json.load(file)
file.close()

In [19]:
print(data)

[{'nome': 'JoÃ£o Silva', 'idade': 30, 'cidade': 'SÃ£o Paulo'}, {'nome': 'Maria Oliveira', 'idade': 25, 'cidade': 'Rio de Janeiro'}, {'nome': 'Carlos Pereira', 'idade': 40, 'cidade': 'Belo Horizonte'}]

In [20]:
for item in data:
    print(item['nome'])

JoÃ£o Silva
Maria Oliveira
Carlos Pereira