# Exercício 1
#### Criação

* Criar uma base de dados que se chame "__empresa.db__" por meio do módulo sqlite3 em Python.
* Dentro dessa base de dados, crie uma tabela chamada "__Funcionarios__" com as estrutura a seguir:
    * id: INTEGER, chave primária (PRIMARY KEY).
    * nome: TEXT, nome do funcionário.
    * cargo: TEXT, cargo do funcionário.
    * salario: REAL, salário do funcionário.
* Insira pelo menos __10__ registos diferentes na tabela "__Funcionarios__".
* Atualize o salário de todos os 3 primeiros funcionários para um valor de 10%.
* Remova o registo do funcionário com o id = 4.
* Por fim, selecione e exiba todos os funcionários restantes na tabela, ordenados pelo salário descrecente.

In [2]:
import sqlite3

# Connect to database
local_para_salvar = './db/empresa2.db'
conn = sqlite3.connect(local_para_salvar)

# Create a cursor
cursor = conn.cursor()

# Create a table
cursor.execute(""" 
CREATE TABLE IF NOT EXISTS funcionarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    cargo TEXT NOT NULL,
    salario REAL NOT NULL
);
""")
# Commit our command
conn.commit()

# Close our connection
cursor.close()
conn.close()

### Criando os funcionarios

    # Criando uma função para aredondar em duas casas após a virgula

In [8]:
import sqlite3

# Connect to database
local_para_salvar = './db/empresa2.db'
conn = sqlite3.connect(local_para_salvar)

# Create a cursor
cursor = conn.cursor()

funcionarios = [
    ("João", "Gerente", 5000.00),
    ("Maria", "Analista", 4000.00),
    ("Pedro", "Desenvolvedor", 4500.00),
    ("Ana", "Designer", 3500.00),
    ("Carlos", "Vendedor", 3000.00),
    ("Paula", "Secretária", 2500.00),
    ("Lucas", "Estagiário", 1500.00),
    ("Fernanda", "Diretora", 7000.00),
    ("Ricardo", "Contador", 3800.00),
    ("Juliana", "Recepcionista", 2200.00)
]

# Funçao para aredondar o salario em duas casas decimais
def arredondar(salario):
    return round(salario, 2)

# Funçao para inserir um funcionario
def inserir_funcionario(nome, cargo, salario):
    cursor.execute("""
    INSERT INTO funcionarios (nome, cargo, salario) VALUES (?, ?, ?)
    """, (nome, cargo, arredondar(salario)))
    conn.commit()
    print('Funcionário inserido com sucesso.')

# Funçao para listar todos os funcionarios
def listar_funcionarios():
    try:

        cursor.execute("""
        SELECT * FROM funcionarios;
        """)
    except Exception as e:
        print(f'Erro: {e}')
    except sqlite3.Error as e:
        print(f'Erro ao listar funcionários: {e}')
    for funcionario in cursor.fetchall():
        print(funcionario)

In [ ]:
for funcionario in funcionarios:
    inserir_funcionario(funcionario[0], funcionario[1], funcionario[2])

### Aumento de salario para os 3 primeiros funcionarios
    # Aumento de 10%

In [13]:
import sqlite3

# Conectando ao banco de dados (ou criando um novo)
local_para_salvar = './db/empresa2.db'
conn = sqlite3.connect(local_para_salvar)

# Criando um cursor
cursor = conn.cursor()

try:
    # Selecionando os IDs dos três primeiros funcionários
    cursor.execute('''
    SELECT id
    FROM funcionarios
    ORDER BY id
    LIMIT 3
    ''')
    ids_funcionarios = cursor.fetchall()

    if not ids_funcionarios:
        raise ValueError('ID não encontrado.')
    
    # Atualizando o salário dos três primeiros funcionários com um aumento de 10%
    for id_funcionario in ids_funcionarios:
        cursor.execute('''
        UPDATE funcionarios 
        SET salario = salario * 1.1
        WHERE id = ?
        ''', (id_funcionario[0],))
    
    # Confirmando as alterações na tabela
    conn.commit()
    print('Salários atualizados com sucesso.')

except ValueError as e:
    print(f'Erro: {e}')

except sqlite3.Error as e:
    print(f'Erro ao buscar ids: {e}')

finally:
    # Fechar o cursor e a conexão
    cursor.close()
    conn.close()

Salários atualizados com sucesso.

* Remova o registo do funcionário com o id = 4.

In [ ]:
import sqlite3

def deletar_funcionario(id_funcionario):
    # Conectando ao banco de dados
    conexao = sqlite3.connect('./db/empresa2.db')
    cursor = conexao.cursor()

    try:
        # Buscando o funcionário pelo ID

        cursor.execute('''
        SELECT id, nome, cargo, salario
        FROM funcionarios
        WHERE id = ?
        ''', (id_funcionario,))

        funcionario = cursor.fetchone()

        if funcionario is None:
            raise ValueError(f'Funcionário não encontrado. {id_funcionario}')
        
        ## Exibindo o funcionário encontrado
        print(f"ID: {funcionario[0]}")
        print(f"Nome: {funcionario[1]}")
        print(f"Cargo: {funcionario[2]}")
        print(f"Salário: {funcionario[3]}")


        # Deletando o funcionário
        cursor.execute('''DELETE FROM funcionarios
                        WHERE id = ?''',
                          (id_funcionario,))
        conexao.commit()
        print('Funcionário deletado com sucesso.')

    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionário: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conexao.close()


## Coloque o id do funcionário que deseja deletar
deletar_funcionario(4)

Erro: Funcionário não encontrado. 4

* Por fim, selecione e exiba todos os funcionários restantes na tabela, ordenados pelo salário.

In [22]:
# função para mostrar todos os funcionarios por order de salarios 

def listar_funcionarios_por_salario():
    # Conectando ao banco de dados
    conn = sqlite3.connect(local_para_salvar)
    cursor = conn.cursor()
    try:
        cursor.execute('''
        SELECT * FROM funcionarios
        ORDER BY salario DESC
        ''')
        for funcionario in cursor.fetchall():
            print(funcionario)

    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionários: {e}')
    except Exception as e:
        print(f'Erro: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

listar_funcionarios_por_salario()

(9, 'Fernanda', 'Diretora', 7000.0)
(1, 'João', 'Analista de Dados', 5500.0)
(2, 'João', 'Gerente', 5500.0)
(3, 'Maria', 'Analista', 4400.0)
(10, 'Ricardo', 'Contador', 3800.0)
(5, 'Ana', 'Designer', 3500.0)
(6, 'Carlos', 'Vendedor', 3000.0)
(7, 'Paula', 'Secretária', 2500.0)
(11, 'Juliana', 'Recepcionista', 2200.0)
(8, 'Lucas', 'Estagiário', 1500.0)

# Exercício 2
#### Criação

* Sobre a base de dados "__empresa.db__" e a tabela "__Funcionarios__", criadas anteriormente, resolva o desafio a seguir:


* A empresa deseja melhorar a sua estrutura salarial, e para isso precisa de um relatório que forneça insights sobre a distribuição de salários e cargos dentro da organização. Portanto, deve resolver:
    * Descobrir possíveis disparidades salariais entre os funcionários de diferentes cargos.
    * Identificar os cargos com os maiores e menores salários médios.
    * Determinar quantos funcionários existem por cargo e entender a distribuição salarial em cada cargo.
    * Fornecer um relatório geral que possa ajudar a diretoria a ajustar os salários para garantir mais equidade e competitividade no mercado.

 * Descobrir possíveis disparidades salariais entre os funcionários de diferentes cargos.

In [18]:
## função para mostrar a disparidade salarial entre funcionarios de diferentes cargos

## 
def disparidade_salarial_entre_diferentes_cargos():
    import sqlite3
    # Conectando ao banco de dados
    conn = sqlite3.connect('./db/empresa.db')
    cursor = conn.cursor()
    try:
        
        cursor.execute('''
        SELECT cargo, MIN(salario) AS menor_salario, MAX(salario) AS maior_salario, 
               (MAX(salario) - MIN(salario)) AS disparidade_salarial
        FROM funcionarios
        GROUP BY cargo
        ''')
        for cargo in cursor.fetchall():
            print(f'Diferença salarial para o cargo {cargo[0]}: {cargo[1]}')

            #print(f'{cargo}')
        return cargo

    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionários: {e}')
    except Exception as e:
        print(f'Erro: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

disparidade_salarial_entre_diferentes_cargos()

Diferença salarial para o cargo Analista: 4198.11
Diferença salarial para o cargo Contador: 3544.13
Diferença salarial para o cargo Desenvolvedor: 5098.5
Diferença salarial para o cargo Desenvolvedor Python: 5500.0
Diferença salarial para o cargo Desenvolvedores de Software: 4716.01
Diferença salarial para o cargo Diretora: 7210.0
Diferença salarial para o cargo Estagiario: 1332.69
Diferença salarial para o cargo Estagiário: 1545.0
Diferença salarial para o cargo Gerente: 5565.0
Diferença salarial para o cargo Recepcionista: 2007.94
Diferença salarial para o cargo Secretária: 2575.0
Diferença salarial para o cargo Vendedor: 3056.16

('Vendedor', 3056.16, 3701.88, 645.7200000000003)

* Identificar os cargos com os maiores e menores salários médios.

In [19]:
def indentificar_cargos_com_maioes_e_menores_salarios_medios():

    import sqlite3
    # Conectando ao banco de dados
    conn = sqlite3.connect('./db/empresa.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
        SELECT cargo, AVG(salario) AS salario_medio
        FROM funcionarios
        GROUP BY cargo
        ORDER BY salario_medio DESC
        ''')
        cargos = cursor.fetchall()
        print(f'Cargo com maior salário médio: {cargos[0][0]}')
        print(f'Cargo com menor salário médio: {cargos[-1][0]}') ## -1 para pegar o ultimo elemento da lista
        return cargos
    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionários: {e}')
    except Exception as e:
        print(f'Erro: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

print('Cargos com maiores e menores salários médios:')
indentificar_cargos_com_maioes_e_menores_salarios_medios()

Cargos com maiores e menores salários médios:
Cargo com maior salário médio: Diretora
Cargo com menor salário médio: Estagiario

[('Diretora', 7568.8075),
 ('Gerente', 6130.1675),
 ('Desenvolvedor Python', 5582.5),
 ('Desenvolvedor', 5365.755),
 ('Desenvolvedores de Software', 5228.986666666667),
 ('Analista', 4365.055),
 ('Contador', 3784.036666666667),
 ('Vendedor', 3282.6800000000003),
 ('Secretária', 2724.353333333333),
 ('Recepcionista', 2253.9700000000003),
 ('Estagiário', 1545.0),
 ('Estagiario', 1524.145)]

* Determinar quantos funcionários existem por cargo e entender a distribuição salarial em cada cargo.

In [20]:
## função para determinar quantos funcionarios existem em cada cargo e entender a distribuição salarial em cada cargo

def distribuicao_de_funcionarios_por_cargo():
   
    import sqlite3
    # Conectando ao banco de dados
    conn = sqlite3.connect('./db/empresa.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
        SELECT cargo, COUNT(*) AS quantidade_funcionarios, AVG(salario) AS salario_medio
        FROM funcionarios
        GROUP BY cargo
        ORDER BY quantidade_funcionarios DESC
        ''')
        for cargo in cursor.fetchall():
            print(f'Cargo: {cargo[0]}')
            print(f'Quantidade de funcionários: {cargo[1]}')
            print(f'Salário médio: {cargo[2]:.2f}')
            print()
        return cargo

    except sqlite3.Error as e:
        print(f'Erro ao buscar funcionários: {e}')
    except Exception as e:
        print(f'Erro: {e}')
    except ValueError as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()
distribuicao_de_funcionarios_por_cargo()

Cargo: Gerente
Quantidade de funcionários: 4
Salário médio: 6130.17

Cargo: Diretora
Quantidade de funcionários: 4
Salário médio: 7568.81

Cargo: Vendedor
Quantidade de funcionários: 3
Salário médio: 3282.68

Cargo: Secretária
Quantidade de funcionários: 3
Salário médio: 2724.35

Cargo: Desenvolvedores de Software
Quantidade de funcionários: 3
Salário médio: 5228.99

Cargo: Contador
Quantidade de funcionários: 3
Salário médio: 3784.04

Cargo: Recepcionista
Quantidade de funcionários: 2
Salário médio: 2253.97

Cargo: Estagiario
Quantidade de funcionários: 2
Salário médio: 1524.14

Cargo: Desenvolvedor Python
Quantidade de funcionários: 2
Salário médio: 5582.50

Cargo: Desenvolvedor
Quantidade de funcionários: 2
Salário médio: 5365.76

Cargo: Analista
Quantidade de funcionários: 2
Salário médio: 4365.06

Cargo: Estagiário
Quantidade de funcionários: 1
Salário médio: 1545.00

('Estagiário', 1, 1545.0)

* Fornecer um relatório geral que possa ajudar a diretoria a ajustar os salários para garantir mais equidade e competitividade no mercado.

In [28]:


def relatorio_geral():
    # Chamar as funções existentes
    distribuicao = distribuicao_de_funcionarios_por_cargo()
    salarios_medios = indentificar_cargos_com_maioes_e_menores_salarios_medios()
    disparidades = disparidade_salarial_entre_diferentes_cargos()

    # Fornecer um relatório geral
    print("\nRelatório Geral:")
    print("\nDistribuição salarial por cargo:")
    for distribuicao in distribuicao:
        print(f"Cargo: {distribuicao[0]}, Quantidade de Funcionários: {distribuicao[1]}, Salário Médio: {distribuicao[2]:.2f}")
    print("-"* 100)
    print()
    print("\nCargos com os maiores e menores salários médios:")
    for salario_medio in salarios_medios:
        print(f"Cargo: {salario_medio[0]}, Salário Médio: {float(salario_medio[1]):.2f}")
    print("-"* 100)
    print()

    print("\nDisparidades salariais entre os funcionários de diferentes cargos:")
    for disparidade in disparidades:
        print(f"Cargo: {disparidade[0]}, Menor Salário: {float(disparidade[1]):.2f}, Maior Salário: {float(disparidade[2]):.2f}, Disparidade Salarial: {float(disparidade[3]):.2f}")
    print("-"* 100)
    
# Executar a função para gerar o relatório geral
relatorio_geral()

Cargo com maior salário médio: Diretora
Cargo com menor salário médio: Estagiario

Relatório Geral:

Distribuição salarial por cargo:
Cargo: Gerente, Quantidade de Funcionários: 4, Salário Médio: 6130.17
Cargo: Diretora, Quantidade de Funcionários: 4, Salário Médio: 7568.81
Cargo: Vendedor, Quantidade de Funcionários: 3, Salário Médio: 3282.68
Cargo: Secretária, Quantidade de Funcionários: 3, Salário Médio: 2724.35
Cargo: Desenvolvedores de Software, Quantidade de Funcionários: 3, Salário Médio: 5228.99
Cargo: Contador, Quantidade de Funcionários: 3, Salário Médio: 3784.04
Cargo: Recepcionista, Quantidade de Funcionários: 2, Salário Médio: 2253.97
Cargo: Estagiario, Quantidade de Funcionários: 2, Salário Médio: 1524.14
Cargo: Desenvolvedor Python, Quantidade de Funcionários: 2, Salário Médio: 5582.50
Cargo: Desenvolvedor, Quantidade de Funcionários: 2, Salário Médio: 5365.76
Cargo: Analista, Quantidade de Funcionários: 2, Salário Médio: 4365.06
Cargo: Estagiário, Quantidade de Funcionários: 1, Salário Médio: 1545.00
----------------------------------------------------------------------------------------------------


Cargos com os maiores e menores salários médios:
Cargo: Diretora, Salário Médio: 7568.81
Cargo: Gerente, Salário Médio: 6130.17
Cargo: Desenvolvedor Python, Salário Médio: 5582.50
Cargo: Desenvolvedor, Salário Médio: 5365.76
Cargo: Desenvolvedores de Software, Salário Médio: 5228.99
Cargo: Analista, Salário Médio: 4365.06
Cargo: Contador, Salário Médio: 3784.04
Cargo: Vendedor, Salário Médio: 3282.68
Cargo: Secretária, Salário Médio: 2724.35
Cargo: Recepcionista, Salário Médio: 2253.97
Cargo: Estagiário, Salário Médio: 1545.00
Cargo: Estagiario, Salário Médio: 1524.14
----------------------------------------------------------------------------------------------------


Disparidades salariais entre os funcionários de diferentes cargos:
Cargo: Analista, Menor Salário: 4198.11, Maior Salário: 4532.00, Disparidade Salarial: 333.89
Cargo: Contador, Menor Salário: 3544.13, Maior Salário: 3914.00, Disparidade Salarial: 369.87
Cargo: Desenvolvedor, Menor Salário: 5098.50, Maior Salário: 5633.01, Disparidade Salarial: 534.51
Cargo: Desenvolvedor Python, Menor Salário: 5500.00, Maior Salário: 5665.00, Disparidade Salarial: 165.00
Cargo: Desenvolvedores de Software, Menor Salário: 4716.01, Maior Salário: 5834.49, Disparidade Salarial: 1118.48
Cargo: Diretora, Menor Salário: 7210.00, Maior Salário: 8227.74, Disparidade Salarial: 1017.74
Cargo: Estagiario, Menor Salário: 1332.69, Maior Salário: 1715.60, Disparidade Salarial: 382.91
Cargo: Estagiário, Menor Salário: 1545.00, Maior Salário: 1545.00, Disparidade Salarial: 0.00
Cargo: Gerente, Menor Salário: 5565.00, Maior Salário: 6799.74, Disparidade Salarial: 1234.74
Cargo: Recepcionista, Menor Salário: 2007.94, Maior Salário: 2500.00, Disparidade Salarial: 492.06
Cargo: Secretária, Menor Salário: 2575.00, Maior Salário: 2949.52, Disparidade Salarial: 374.52
Cargo: Vendedor, Menor Salário: 3056.16, Maior Salário: 3701.88, Disparidade Salarial: 645.72
----------------------------------------------------------------------------------------------------